
- name: Grid Setup
  block:

    - name: install grid.rsp
      template:
        src: grid.no.comments.rsp
        dest: /home/oracle/grid.rsp
        mode: '0644'

    - shell: "./runInstaller -silent -responseFile /home/oracle/grid.rsp -ignoreSysPrereqs -waitforcompletion"
      args:
        chdir: "/home/oracle/grid/"
        creates: "/oracle/u01/oraInventory"
      ignore_errors: true
      register: grid_setup_out
    - debug: 
        msg: "Return code is {{ grid_setup_out.rc }}"
      when: grid_setup_out.rc >= 2

  rescue:
    - debug:
        msg: '"./runInstaller failed'

    - name: delete response file
      file:
        path: /home/oracle/grid.rsp
        state: absent

    - name: delete install directory
      file:
        path: "/home/oracle/grid"
        state: absent

  become: yes
  become_user: oracle
