---
- name: OpenJDK
  yum: name=java-1.8.0-openjdk state=latest  

- name: Ensure group "somegroup" exists
  group:
    name: kafka
    state: present
    gid: 700

- name: Add user "kafka" to the remote server
  user:
    name: kafka
    comment: "Kafka User"
    uid: 700
    group: kafka
    append: yes
    shell: /bin/bash
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa

- name: Set authorized key for Kafka
  authorized_key:
    user: kafka
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/authorized_keys') }}"

- name: Extract kafka_2.12-2.3.0.tgz into /opt
  unarchive:
    src: http://192.168.8.200/kafka/kafka_2.12-2.3.0.tgz
    dest: /opt
    owner: kafka
    group: kafka
    remote_src: yes
