install
reboot
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
url --url=http://192.168.8.200/centos/7/x86_64/
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --ip=192.168.8.230 --netmask=255.255.255.0 --gateway=192.168.8.1 --nameserver=192.168.8.200 --device=ens224 --activate
network  --bootproto=static --ip=10.0.0.230    --netmask=255.255.255.0                                                  --device=ens192 --activate 
network  --hostname=devel

# Root password
rootpw --iscrypted $6$iFB.s2gLO.rICl/D$GixfeELLD/y3P6BBVhuT7fMkqhT5KHxreIc.ssHndbzJANMRzTaGxGvXsmrzHuInu5M/KC8wm0h9yvbRyxWN2.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Prague --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
###autopart --type=lvm
# Partition clearing information
###clearpart --none --initlabel
zerombr 
clearpart --all --drives=sda
part /boot --fstype ext4 --size=500
part swap --size=4096
part pv.01      --size=1000     --grow  --ondisk=sda
volgroup vg00 pv.01
logvol / --vgname=vg00    --fstype=ext4 --size=4096 --name=lv_root
logvol /var --vgname=vg00 --fstype=ext4 --size=3072 --name=lv_var
logvol /tmp --vgname=vg00 --fstype=ext4 --size=800  --name=lv_tmp
logvol /oracle/u01 --vgname=vg00 --fstype=ext4 --size=6000 --name=lv_oracle

%packages
@base
@core
chrony
kexec-tools
git
emacs-nox
maven.noarch
screen
xorg-x11-xauth
xterm
links
perl-macros
rpm-build
rpm-build
rpm-sign
rpmdevtools
rpmlint
gcc-c++
ksh
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
