install
reboot
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
url --url="http://192.168.8.200/centos/7/x86_64"
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --ip=192.168.8.227 --netmask=255.255.255.0 --gateway=192.168.8.1 --nameserver=192.168.8.200 --device=ens224 --activate
network  --bootproto=static --ip=10.0.0.227    --netmask=255.255.255.0                                                  --device=ens192 --activate 
network  --hostname=dock

# Root password
rootpw --iscrypted $6$iFB.s2gLO.rICl/D$GixfeELLD/y3P6BBVhuT7fMkqhT5KHxreIc.ssHndbzJANMRzTaGxGvXsmrzHuInu5M/KC8wm0h9yvbRyxWN2.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Prague --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@base
@core
chrony
kexec-tools
emacs-nox
screen
btrfs-progs-devel
xorg-x11-xauth
xterm
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
