# NOTE: after changing this file, copy it into: /var/lib/tftpboot/images/centos/, tftp does not support symlinks
reboot
# Use not graphical install
text

repo --name="NexusBaseOS"    --install --baseurl="http://10.0.0.200:8081/repository/centos/8-stream/BaseOS/$basearch/os/" --cost=0
repo --name="NexusAppStream" --install --baseurl="http://10.0.0.200:8081/repository/centos/8-stream/AppStream/$basearch/os/" --cost=0

repo --name="KS_noarch"     --install --baseurl="http://10.0.0.200/oracle/rpm/noarch/"
repo --name="KS_x86_64"     --install --baseurl="http://10.0.0.200/oracle/rpm/x86_64/"

repo --name="AppStream"     --install --baseurl="http://10.0.0.200/centos/8-stream/x86_64/AppStream"

# System authorization information
#auth --enableshadow --passalgo=sha512
# Nexus is impossible to cache this: Content type could not be determined: 8-stream/BaseOS/x86_64/os/images/install.img
url --url="http://10.0.0.200/centos/8-stream/x86_64/"
#url --url="http://10.0.0.200:8081/repository/Centos/8.3.2011/BaseOS/x86_64/"

# Run the Setup Agent on first boot
ignoredisk --only-use=sda,sdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=static --ip=192.168.8.250 --netmask=255.255.255.0 --gateway=192.168.8.1 --nameserver=192.168.8.200 --device=ens192 --activate
#network  --bootproto=static --ip=10.0.0.250    --netmask=255.255.255.0                                                  --device=ens224 --activate 
#network  --hostname=rhel8-a
network  --bootproto=dhcp --device ens224
#network  --bootproto=dhcp --device ens192

# Root password
rootpw --iscrypted $6$iFB.s2gLO.rICl/D$GixfeELLD/y3P6BBVhuT7fMkqhT5KHxreIc.ssHndbzJANMRzTaGxGvXsmrzHuInu5M/KC8wm0h9yvbRyxWN2.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Prague --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
zerombr
clearpart --all --drives=sda,sdb

part /boot --fstype ext4 --size=500
part swap  --size=1024
part pv.01 --size=1 --ondisk=sda --grow
part pv.02 --size=1 --ondisk=sdb --grow

volgroup vg00 pv.01
volgroup vg01 pv.02

logvol /    --vgname=vg00 --fstype=ext4 --size=8192 --name=lv_root
logvol /var --vgname=vg00 --fstype=ext4 --size=1024 --name=lv_var
logvol /tmp --vgname=vg00 --fstype=ext4 --size=1024 --name=lv_tmp

selinux --disabled
firewall --disabled
skipx

# See: https://www.golinuxcloud.com/rhel-centos-8-kickstart-example-generator/#Specifying_groups
# Minimal Install
%packages
@Minimal Install
#@base
#@core
#chrony
#kexec-tools
augeas
yum-utils
open-vm-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post --log=/root/postinstall.log

yum-config-manager --disable appstream
yum-config-manager --disable baseos
yum-config-manager --disable extras
 
# Do the bare minimum so that I can ssh to the box and run a shell script to execute whatever provisioning needs happening
mkdir -p /root/.ssh
chmod 700 /root/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAuOxMuyVekLunp3NluMAC7nOcYOZmhDI4x7KVEbZ2YSf/q/SaKpuJqCyo728LawqIRWE09TitJlq6/9n018DFk65OqTEgxpwWQYz8s8L+KdHPADq3FPNbJ1C6bYBnouRBCJAmDbagdB/XcvzJWOY5kLm0mFrCrSCpuUwYYbKMnk8NI+Zy0jl4C/t86GQz+5iDN0gI6IZHDkZS1uXCEq5b1xBdNP6oWwRjg4kOiKsvG7qNOo/q1ztgRmnjP6sJE4ySWgLCiIfFM5JVUzcIBlBrx0FjR6PeYCGehvZqxuzIPB9rRuJ0lBPjEAEbA58mmZJU/U4pyQNGCU/ln/d2t65ZDQ== root@kicklinux" > /root/.ssh/authorized_keys
chmod 600 /root/.ssh/authorized_keys
 
### fix up selinux context
restorecon -R /root/.ssh/
 
augtool -s <<EOF
#root login needs to be enabled during initial setup so the project specific scripts can be executed
set /files/etc/ssh/sshd_config/PermitRootLogin yes
 
#This saves time during vm startup
set /files/etc/grub.conf/timeout 0
EOF

rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-centostesting

# nmcli does not work inside kicklinux chroot
# postpone network init till next boot
systemctl enable NetworkManager
systemctl unmask NetworkManager

curl http://10.0.0.200/kicklinux-files/vmware-clone-boot.service -o /etc/systemd/system/vmware-clone-boot.service
systemctl daemon-reload
systemctl emable vmware-clone-boot.service 
systemctl unmask vmware-clone-boot.service
ln -sf /etc/systemd/system/vmware-clone-boot.service /etc/systemd/system/multi-user.target.wants/vmware-clone-boot.service

curl http://10.0.0.200/kicklinux-files/nmcli.sh -o /root/nmcli.sh
chmod 755 /root/nmcli.sh
touch /root/nmcli.flag

systemctl daemon-reload

%end
