# /etc/systemd/system/oracle.service
#   Invoking Oracle scripts to start/shutdown Instances defined in /etc/oratab
#   and starts Listener
[Unit]
Description=Systemd Python Service for Oracle Database and Listener
After=network-online.target remote-fs.target local-fs.target
Requires=network-online.target remote-fs.target local-fs.target

[Service]
EnvironmentFile=/etc/sysconfig/oracle
Type=notify
SyslogIdentifier=oracle-service
TimeoutStartSec=5min
TimeoutStopSec=5min

# Please keep this in-sync with 99-oracle-limits.conf
# https://martincarstenbach.wordpress.com/2021/06/17/shell-limits-oracle-single-instance-and-systemd-in-oracle-linux-8-4/
#LimitNOFILE=16384
#LimitMEMLOCK=128G
LimitNOFILE=4096:131072
LimitNPROC=16384:16384
LimitSTACK=10485760:33554432
LimitMEMLOCK=infinity

ExecStart=/usr/libexec/oracle-systemd-service
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGUSR2
KillMode=process

[Install]
WantedBy=multi-user.target
